.wrapper{
    padding: 10px;
    border: solid black 3px;
    width: 400px;
}
.listwrapper{
    padding-block: 5px;
    padding-inline: 8px ;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.firstsection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.firstsection .leftflag{
        margin-left: -10px;
        margin-right: 10px;
}
/* .firstsection span{
    position: absolute;
    left: 3;
} */